<%- include("header") -%>
    <div class="box" id="heading">
        <h1 ><%= listTitle %></h1>
    </div>

    <div class="box">
        <% newItems.forEach((item)=>{ %>
            <form action="/delete" method="post">
                <div class="item" >
                    <input type="checkbox" name="submitBox" value= "<%= item._id %>" OnChange="this.form.submit()">
                    <p><%= item.name %></p>
                </div>   
                <input type="hidden" name="customListName" value="<%= listTitle %>">
            </form>
            
        <% }) %>
        <form class="item" action="/"  method="post">
            <input type="text" placeholder="Try typing 'Pay the bills by 6pm'" name="newItem" autocomplete="off" autofocus/>
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>

<%- include("footer") -%>